.post-details {
  height: 100%;
  margin-top: 50px;
  background: rgb(255, 237, 237);
  padding: 0px 10px 0px 10px;
}


.loading-container {
  padding: 20px;
}

.loading-container div {
  padding: 10px 30px 15px 30px;
}