.profile-posts-header h3{
  margin-left: 14px;
}

.profile-user-info button {
  color: white;
  background: #0B0B12;
  border: 1px solid #292934;
  border-radius: 8px;
  padding: 10px;
}

.profile-user-info a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 850px) {
  .profile-page{
      display: flex;
      flex-direction: column;
  }

  .profile-left {
      width: 100%;
      height: auto;
  }
  
  .profile-right {
      width: 100%;
  }
}