.profile-page {
  height: 90vh;
  display: flex;
  overflow-y: scroll;
  background-color: #181818;
}

.profile-left {
  width: 25%;
  height: 100%;
  padding: 10px 0px 10px 10px;
  background-color: #181818;
}

.profile-user-info {
  background: #282828;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #26262b;
  border-radius: 8px;
  padding: 20px;
}

.profile-right {
  width: 75%;
  padding-top: 10px;
}

.profile-left img{
  width: 200px;
  border: 2px solid #4d4d63;
  border-radius: 100%;
  margin-bottom: 25px;
}

.profile-left h3, h4{
  color: rgb(220, 220, 220);
}

.profile-left h4{
  opacity: .75;
}

.profile-post-container {
  padding: 0px 10px 0px 10px;
}

.sub-container {
  padding: 0px 10px 0px 10px;
}

.profile-posts-header {
  background: #282828;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 4px solid #404040;
  border-radius: 8px 8px 0px 0px;
  color: #FFFFFF;
}

.profile-posts-header h3{
  margin-left: 14px;
}

.profile-user-info button {
  color: white;
  background: #181818;
  border: 4px solid #404040;
  border-radius: 8px;
  padding: 10px;
}

.profile-user-info a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 850px) {
  .profile-page{
      display: flex;
      flex-direction: column;
  }

  .profile-left {
      width: 100%;
      height: auto;
  }
  
  .profile-right {
      width: 100%;
  }
}