/* CARD CSS */

.post-list {
  background: #181818;
  padding: 0px 10px 0px 10px;
}

.post-card {
  background: #282828;
  border: 4px solid #404040;
  margin-top: 10px;
  border-radius: 8px;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 5px;
}

.question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0px 6px 13px;
}

.question-container h3 {
  width: 95%;
  margin: 0;
  text-align: left;
  line-height: 1.4;
  font-size: 16px;
  color: #FFFFFF;
}

.question-container p {
  width: 95%;
  margin: 0;
  text-align: left;
  line-height: 1.4;
  font-size: 16px;
  color: #FFFFFF;
}

.code-container {
  padding: 0px 10px 12px 10px;
}

.comment-link {
  border-top: 4px solid #404040;
  padding: 8px 8px 11px 8px;
}

.comment-link a {
  color: #0b0b12;
  font-weight: medium;
  font-size: 14px;
}

.resolution-icon {
  width: 20px;
  height: 20px;
}

.interactions {
  margin-left: auto; 
  display: flex;
  padding-right: 10px;
}

.interactions button {
  font-size: 13px;
  background: none;
  border-radius: 8px;
  margin: 0px 0px 0px 10px ;
  border: 2px solid #404040;
  color: #FFFFFF;
  padding: 7px 14px 7px 14px;
}

.comment-section {
  margin-top: 10px;
}

.comment-list {
  height: 100%;
  margin-top: 50px;
  background: #181818;
  padding: 10px 10px 0px 10px;
}

.comment-card {
  margin-top: 10px;
  border-radius: 8px;
  background: #181818;
  border: 4px solid #404040;
  padding-bottom: 16px;
}

.comment-link {
  display: flex;
  justify-content: center;
}

.comment-link a {
  text-decoration: none;
  color: #FFFFFF;
}

.stack-top{
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}

.tiktok {
  display: flex;
  position: relative;
  
  justify-content: center;

}