/* SIDE PANEL CSS */

.menu {
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 8px;
  border: 4px solid #404040;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu-header {
  padding-left: 12px;
  border-bottom: 1px solid #292934;
  color: #FFFFFF;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  background: #282828;
}

.menu-items {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 10px;
}

.menu-items a, button {
  width: 100%;
}

.menu-items button {
  color: #FFFFFF;
  background: #282828;
  border: 2px solid #404040;
  border-radius: 8px;
  padding: 10px;
}

.spacing-block {
  margin-bottom: 60px;
}