/* INITIAL APP CSS */

* {
  box-sizing: border-box;
}

#root{
  overflow-y: hidden;
  height: 100vh;
}

.home-page{
  display: flex;
  width: 100vw;
}

.layout{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  position: relative;  
}

.side-panel{
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100vh;
  background: rgb(255, 237, 237);
  padding: 10px 10px 94px 10px;
}

.leaderboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: 100vh;
  background: rgb(255, 237, 237);
  padding: 10px 10px 94px 10px;
}


.spacing-block {
  margin-bottom: 60px;
}

.layout::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

@media only screen and (max-width: 850px) {
  .side-panel{
    display: none;
  }
  
  .leaderboard{
    display: none;
  }

  .layout{
    width: 100%;
  }
  
}
